<div class="container border shadow p-4" style="height: 100px; width: 700px;" >
<form #data="ngForm" (ngSubmit)="onSubmit(data.value)">
    <div class="d-flex gap-3">
        <div class="col-4">
            <label for="search">Search for : </label>
            <select name="search" ngModel >
                <option value="people">people</option>
                <option value="planets">planets</option>
            </select>
        </div>
        <div class="d-flex">
            <label for="id"> Id :  </label>
            <input type="text" name="id" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
</div>