.form{
  margin: 0 auto;
  width: 500px;
  padding: 20px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label{
  background-color: gray;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.label p{
  color: rgb(194, 6, 6);
}
button{
  width: 400px;
}
